:root {
  --bg-dark: hsl(200 90% 15%);
  --bg-light: hsl(175 60% 25%);
  --shadow: hsl(200 90% 0%);
  --text: hsl(40 70% 95%);
  --titles: hsl(40 70% 100%);
  --text-muted: hsl(40 70% 85%);
  --primary: hsl(40 70% 75%);
  --secondary: hsl(330 30% 20%);
  --danger: hsl(340 100% 40%);
  --warning: hsl(20 100% 40%);
  --success: hsl(60 100% 40%);
}

@font-face {
  font-family: dseg;
  src: url(static/fonts/DSEG7Classic-Regular.woff);
}

* {
  margin: 0px;
  padding: 0px; 
  border: 0px;
  font-size: 100%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

body {
  background-color: var(--bg-dark);
  color: var(--text);
  font-size: 18px;
  line-height: 1.5;
  overflow-wrap: break-word;
  text-wrap: pretty;
}

h1 {
  color: var(--titles);
  font-size: 56px;
}

#viewport {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header {
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  text-align: center;
  box-shadow: 0px 4px 8px var(--shadow);
}

#nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  flex-wrap: wrap;
}

#nav a {
  text-decoration: none;
  padding: 0 12px;
}

#nav a:hover {
  color: var(--primary);
}

#body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calculator {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  border: 2px solid var(--shadow);
  border-radius: 16px;
  box-shadow: 4px 8px 12px var(--shadow), 0px 0px 8px 4px hsl(40 70% 60%) inset;
  padding: 24px 12px;
  margin: 48px 8px;
  color: black;
}

#title {
  font-size: 36px;
  font-weight: 800;
}

#display {
  width: 9em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: hsl(0 30% 50%);
  border: 2px solid var(--shadow);
  border-radius: 12px;
  box-shadow: 0px 2px 4px var(--shadow) inset;
  font-family: "dseg", sans-serif;
  font-size: 48px;
  padding: 2px 8px;
  margin-bottom: 12px;
}

#keypad {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(40 70% 65%);
  text-align: center;
  font-size: 36px;
  border-radius: 10px;
  margin: 12px 4px;
  height: 102px;
  width: 102px;
  cursor: pointer;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(40 70% 75%);
  border-radius: 10px;
  border: 2px solid var(--shadow);
  height: inherit;
  width: inherit;
  transform: translateY(-8px);
}

button:active .front {
  transform: translateY(-2px);
}

#zero {
  flex-grow: 1;
}

#footer {
  background-color: var(--secondary);
  box-shadow: 0px -4px 8px var(--shadow);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 14px;
}

.license, .credit, .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.license {
  grid-column: 1;
}

.credit {
  grid-column: 2;
}

.contact {
  grid-column: 3;
}

.license a,
.icon {
  margin: 1rem;
  height: 2rem;
  width: auto;
}

.icon {
  height: 24px;
  width: auto;
  color: var(--danger);
}

.socials {
  display: flex;
  align-items: center;
}
